html, body, #app {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Iceland, Verdana, Geneva, Tahoma, sans-serif;
  background: #DFE2DB;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 0.5rem;
  background: #08163a;
  border-radius: 5px;
}

.grid {
  display: grid;
  grid-template-rows: 1.55fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.25rem;
}

#display {
  width: 18rem;
  grid-area: 1/1/2/6;
  font-size: 2.1rem;
  padding: 0.2rem 1.1rem;
  border-radius: 5px;
  border: 4px solid #7781aa;
  margin-bottom: 2px;
}

input, button {
  outline: none;
}

.text-right {
  text-align: right;
}

#clear {
  background: #b71010;
}

#zero {
  grid-area: 5/1/6/3;
}

button {
  font-size: 1.2rem;
  color: white;
  background: #7781aa;
  border: none;
  border-radius: 5px;
}

button:hover {
  opacity: 0.85;
  cursor: pointer;
}

#add, #subtract, #multiply, #divide, #equals, #percent, #square-root {
  background: #666;
}

@media (max-width: 520px) {

  .container {
    width: 12rem;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.55fr 1fr 1fr 1fr 1fr 1fr;
  }
  
  #display {
    grid-area: 1/1/2/5;
  }

  #divide {
    grid-area: 3/4/4/5;
  }

  #zero {
    grid-area: 6/1/7/3;
  }
  
  #clear {
    grid-area: 2/4/3/5
  }
  
  #equals {
    grid-area: 5/4/7/5;
  }

  button {
    font-size: 1.2rem;
    color: white;
    background: #7781aa;
    border: none;
    border-radius: 5px;
  }
}


